body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
	border: 0;
}
#global{
 	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
} 
#app {
 	width: 350px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -175px;
    background: #f3f3f3;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 55px rgba(0,0,0,0.7);
    /*opacity: .3;*/
}
#myForm label{
	display: block;
}
#myForm input[type="text"]{
	width: 275px;
	height: 30px;
	border-radius: 5px;
	margin: 5px auto;
	padding: 2px 10px;
	font-size: 16px;
	display: block;
	outline: 0;
}
#myForm #submitButton {
	margin: 15px auto;
	display: block;
	width: 150px;
	font-size: 15px;
    line-height: 32px;
    color: #000;
    border: 1px solid #aaa;
    outline: 0;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
}
video{
	position:fixed;
	z-index:-1;
	min-width:100%;
	min-height:100%;
	overflow:hidden;
}
.clearfix{
	clear: both;
}